* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.grilla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.img {
  width: 100%;
}
.img-container {
  display: inline-block;
  width: 150px;
  height: 150px;
}

.estilo-foto{
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
